<mat-card>
  <!-- <div fxShow="true" fxHide.gt-sm class="logo-mobile">
    <div class="app-user">
      <div class="app-user-photo">
          <img src="assets/images/logo_1.png" alt="">
      </div>
    </div>
  </div> -->
  <section class="home-section section-intro text-center">
    <div class="container">
      <span class="egret">Founding</span>
      <ul>
        <li>
            Agaramudhal was founded and established in the year 2018 by like minded friends of <strong>GCE, Salem 1990 batch.</strong> 
        </li>
        <li>
            A spark lit during a casual WhatsApp chat resulted in the formation Agaramudhal.
        </li>
        <li>
            Since then with the unstinted support from the frieds, the trust started doing its charity work.
        </li>
        <li>
            The journey is towards aiding and providing the needed infra structure facility in Govt Schools at remote places.
        </li>
      </ul>
    </div>
    <!-- <mat-card-actions>
      <button fxFlex mat-flat-button matTooltip="Go Back" (click)="goBack()" class="back-btn">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-actions> -->
  </section>
</mat-card>