<mat-card>
  <div fxShow="true" fxHide.gt-sm class="logo-mobile">
    <div class="app-user">
      <div class="app-user-photo">
          <img src="assets/images/logo_1.png" alt="">
      </div>
    </div>
  </div>
  <section class="home-section section-intro text-center">
    <div class="container">
      <span class="egret">Approval Information</span>
      <ul>
        <li>Registered under Indian Trust Act <strong> (Reg. No.208/2018) </strong></li>

        <li>Approved under Section 80G (5) (VI) of the Income Tax Act, 1961.</li>

        <li>Exemption Order No. <strong> ITBA/EXM/S/12AA/2018-2019/1015224757(1)/80G </strong> dated 19/03/2019 </li>
        
        <li>PAN Number: <strong> AAGTA9602G </strong></li>
      </ul> 
    </div>
    <!-- <mat-card-actions>
      <button fxFlex mat-flat-button matTooltip="Go Back" (click)="goBack()" class="back-btn">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-actions> -->
  </section>
</mat-card>
