<mat-card>
    <section class="home-section section-intro text-center">
        <div class="container">
            <span class="egret">FAQ</span>
            <div class="star-banner">
            </div>
            <dl>
                <dt><strong>1. How can I donate?. </strong></dt>
                <dd> 
                    You can donate by cheque / DD / online bank transfer to the trust account. Account details can be referred below:
                    <div class="bank-details-container">
                        <code>  
                            <strong>A/c. No :</strong> 1619104000027098 ;
                            <strong>Bank :</strong> IDBI Bank, Vadapalani ;
                            <strong>IFSC :</strong> IBKL0001619
                        </code>
                    </div>
                </dd>
                <dt><strong>2. Can I donate in foreign currency?. </strong></dt>
                <dd>Currently we are accepting donations only in INR. </dd>
                <dt><strong>3. Is there any IT benefit for my donation?. </strong></dt>
                <dd>Yes. Your donations are exempt from Income Tax under Section 80 G of the Indian Income Tax Act. </dd>
                <dt><strong>4. Can I recommend schools that need support from trusts like yours?. </strong></dt>
                <dd>Yes. <a href="javascript:void(0)">Please write to <span [ngStyle]="{'color': 'blue', 'font-family': 'monospace', 'font-weight': '600'}">agaramudhaltrust@gmail.com</span></a> </dd>
            </dl>
        </div>
    </section>
</mat-card>