<mat-card>
  <section class="home-section section-intro text-center">
    <div class="container">
      <span class="egret">Tax Benefits</span>
      <ul>
        <li>
          Agara Mudhal Trust is approved under Section 80G (5) (VI) of the Income Tax Act, 1961.
        </li>
        <li>
          All donations to Agara Mudhal Trust are subject to upto <strong>50% Tax exemption</strong>.
        </li>
      </ul> 
    </div>
    <mat-card-actions>
      <button fxFlex mat-flat-button matTooltip="Go Back" (click)="goBack()" class="back-btn">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-actions>
  </section>
</mat-card>