<mat-card>
  <section class="home-section section-intro text-center">
    <div class="container">
      <span class="egret">Donate</span>
      <div class="star-banner">
        <img src="assets/images/5-star.png" alt="">
      </div>
      <ul>
        <li>
          Agara Mudhal Trust is run by contributions from like minded individuals and is not supported by any Government organizations or political parties. 
        </li>
        <li>
          Agara Mudhal Trust accepts donations from Indian Nationals. 
        </li>
        <li>
          "All donations are exempt from Income Tax under 
          <strong>
              Section 80 G of the Indian Income Tax Act" (Not applicable for foreign Nationals).
          </strong>  
        </li>
        <li>
          Agara Mudhal encourages donations by way of credit card/debit card/ online/net banking/ cheque/demand draft. 
        </li>
      </ul>
    </div>
  </section>
</mat-card>
