<mat-card>
  <!-- <div fxShow="true" fxHide.gt-sm class="logo-mobile">
    <div class="app-user">
      <div class="app-user-photo">
          <img src="assets/images/logo_1.png" alt="">
      </div>
    </div>
  </div> -->
  <section class="home-section section-intro text-center">
    <div class="container">
      <span class="egret">Vision & Mission</span>
      <dl>
        <dt><strong>Vision</strong></dt>
        <dd>To support Government schools in providing quality education in sustainable environment with basic infrastructure thereby helping the children to fulfil their basic needs, hygiene and grow with good habits and competitive knowledge. </dd>
        <hr class="mt-1 mb-1">
        <dt><strong>Mission</strong></dt>
        <dd>To continue doing our work with social responsibility helping for the bright future of children thereby ensuring more livable and lively society. </dd>
      </dl>
    </div>
    <!-- <mat-card-actions>
      <button fxFlex mat-flat-button matTooltip="Go Back" (click)="goBack()" class="back-btn">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-actions> -->
  </section>
</mat-card>