<mat-card>
  <div fxShow="true" fxHide.gt-sm class="logo-mobile">
    <div class="app-user">
      <div class="app-user-photo">
          <img src="assets/images/logo_1.png" alt="">
      </div>
    </div>
  </div>
  <section class="home-section section-intro text-center">
    <div class="container">
      <span class="egret">Contact-Us</span>
      <address>
        Agara Mudhal Trust
        No 6, Alagiri Nagar 1st Street,
        Vadapalani, Chennai – 600026
        Phone : +91 96000 54154 / 91767 25040 / 94440 66105
      </address>
    </div>
  </section>
  </mat-card>
  
