<mat-card>
  <!-- <div fxShow="true" fxHide.gt-sm class="logo-mobile">
    <div class="app-user">
      <div class="app-user-photo">
          <img src="assets/images/logo_1.png" alt="">
      </div>
    </div>
  </div> -->
  <section class="section-intro text-center">
    <div class="container">
      <span class="egret">Contact Details</span>
      <address>
        No 6, Alagiri Nagar 1st Street,
        Vadapalani, Chennai – 600026. <br>
        <strong>Phone :</strong> +91 96000 54154 / 91767 25040 / 94440 66105 <br>
        <strong>Email :</strong> agaramudhaltrust@gmail.com
      </address>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdozcnwCE-auChHqF3ZQnTsqrTo2M3uFGnk0_bDy9CCgbYTDw/viewform?embedded=true" width="640" height="677" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
  </section>
  </mat-card>
  
