<mat-card>
  <!-- <div fxShow="true" fxHide.gt-sm class="logo-mobile">
    <div class="app-user">
      <div class="app-user-photo">
        <img src="assets/images/logo_1.png" alt="">
      </div>
    </div>
  </div> -->
  <section class="home-section section-intro text-center">
    <div class="container">
      <span class="egret">Trustee Details</span>
      <div class="trustee-details-container">
        <mat-list>
          <mat-list-item> 
            <strong>A.H.Vengadavalavan - Entrepreneur</strong> 
          </mat-list-item>
          <mat-list-item> 
            <strong>G.Ananth - Employed in Private Sector</strong> 
          </mat-list-item>
          <mat-list-item> 
            <strong>R.Velusamy - Employed in India Post</strong> 
          </mat-list-item>
          <mat-list-item>
            <strong>A.V.Murali - Entrepreneur</strong>
          </mat-list-item>
          <mat-list-item> 
            <strong>M Babu - Employed in Private Sector</strong> 
          </mat-list-item>
          <mat-list-item> 
            <strong>S Srinivasan - Employed in Private Sector</strong> 
          </mat-list-item>
          <mat-list-item> 
            <strong>D Senthil Kumar - Employed in Private Sector</strong> 
          </mat-list-item>
          <mat-list-item> 
            <strong>and the trust is supported by many noble hearts.</strong> 
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </section>
</mat-card>