<mat-card>
  <section class="home-section section-intro text-center">
    <div class="container">
      <span class="egret">Intro</span>
      <div class="star-banner">
        <img src="assets/images/5-star.png" alt="">
      </div>
      <p>
        <code>Agara Mudhal Trust</code> is a registered Indian Non Government, Non Religious, Non Profit, Social Service Organization working on facilitating child education across Tamilnadu particulary through Government schools. <br>
        <br>
        Established in the year of <strong>2018</strong>, the organization is devoted in looking at the wider picture; not only to help one cause but to focus on related causes in the long run. We hope by doing this there will be a positive impact on the community and encourage others to make a difference. <br>
        <br> 
        We started our first project by providing necessary infra structure in a Government run school at <strong>Siruthamur</strong> in <strong>Chengalpat District</strong>. Since then we are taking up other projects across Tamil Nadu with a hope of steadily expanding our support to cover many needy schools.
      </p>
    </div>
  </section>
</mat-card>